<html>
	<head>
		<title>Twitter Clone</title>
		<link rel="stylesheet" href="/css/application.css" />

	</head>

	<header>
		<h1>Twitterism</h1>
			<nav></nav>
		</header>
	<body>

		<%= yield %>
	</body>
</html>